img {
  width:100px
}

.title {
  background-color: blue;
}

.navigation {
  background-color: lightBlue;
  color: white;
}

.content {
  background-color: linen;
  text-align: center;
}

div {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 12px:
}
